# Pandas

In [3]:
import pandas as pd
data1=[10,20,30,40]
series1=pd.Series(data1)
print(series1)
print(type(series1))

0    10
1    20
2    30
3    40
dtype: int64
<class 'pandas.core.series.Series'>

In [6]:
data2={'roll':"rajan","course":"cse","section":23}
series2=pd.Series(data2)
print(series2)
print(type(series2))

roll       rajan
course       cse
section       23
dtype: object
<class 'pandas.core.series.Series'>

In [7]:
data=[10,20,30,40]
index=['a','b','c','d']
series3=pd.Series(data,index=index)
print(series3)

a    10
b    20
c    30
d    40
dtype: int64

In [10]:
Highmarks_data={'name':['sobhit','shreya','shruti'],'subject':['python','ds','html'],'marks':[78,45,62]}
df=pd.DataFrame(Highmarks_data)
print(df)
print(type(df))

     name subject  marks
0  sobhit  python     78
1  shreya      ds     45
2  shruti    html     62
<class 'pandas.core.frame.DataFrame'>

In [15]:
citydata=[{'name':"sahil",'age':19,'city':'mirzapur'},
         {'name':"sagar",'age':20,'city':'ballia'},
         {'name':"satyam",'age':25,'city':'delhi'}] 
df=pd.DataFrame(citydata)
print(df)
print(type(df))

     name  age      city
0   sahil   19  mirzapur
1   sagar   20    ballia
2  satyam   25     delhi
<class 'pandas.core.frame.DataFrame'>