# Pandas

In [3]:
import pandas as pd
data1=[10,20,30,40]
series1=pd.Series(data1)
print(series1)
print(type(series1))

0    10
1    20
2    30
3    40
dtype: int64
<class 'pandas.core.series.Series'>

In [6]:
data2={'roll':"rajan","course":"cse","section":23}
series2=pd.Series(data2)
print(series2)
print(type(series2))

roll       rajan
course       cse
section       23
dtype: object
<class 'pandas.core.series.Series'>

In [7]:
data=[10,20,30,40]
index=['a','b','c','d']
series3=pd.Series(data,index=index)
print(series3)

a    10
b    20
c    30
d    40
dtype: int64

In [10]:
Highmarks_data={'name':['sobhit','shreya','shruti'],'subject':['python','ds','html'],'marks':[78,45,62]}
df=pd.DataFrame(Highmarks_data)
print(df)
print(type(df))

     name subject  marks
0  sobhit  python     78
1  shreya      ds     45
2  shruti    html     62
<class 'pandas.core.frame.DataFrame'>

In [15]:
citydata=[{'name':"sahil",'age':19,'city':'mirzapur'},
         {'name':"sagar",'age':20,'city':'ballia'},
         {'name':"satyam",'age':25,'city':'delhi'}] 
df=pd.DataFrame(citydata)
print(df)
print(type(df))

     name  age      city
0   sahil   19  mirzapur
1   sagar   20    ballia
2  satyam   25     delhi
<class 'pandas.core.frame.DataFrame'>

In [27]:

from sklearn.datasets import load_iris
iris=load_iris()
df=pd.DataFrame(data=iris.data, columns=iris.feature_names)
df['Target']=iris.target

df.columns=['F1','F2','F3','F4','Target']
print(df)

      F1   F2   F3   F4  Target
0    5.1  3.5  1.4  0.2       0
1    4.9  3.0  1.4  0.2       0
2    4.7  3.2  1.3  0.2       0
3    4.6  3.1  1.5  0.2       0
4    5.0  3.6  1.4  0.2       0
..   ...  ...  ...  ...     ...
145  6.7  3.0  5.2  2.3       2
146  6.3  2.5  5.0  1.9       2
147  6.5  3.0  5.2  2.0       2
148  6.2  3.4  5.4  2.3       2
149  5.9  3.0  5.1  1.8       2

[150 rows x 5 columns]

In [28]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
F1,5.1,4.9,4.7,4.6,5.0,5.4,4.6,5.0,4.4,4.9,...,6.7,6.9,5.8,6.8,6.7,6.7,6.3,6.5,6.2,5.9
F2,3.5,3.0,3.2,3.1,3.6,3.9,3.4,3.4,2.9,3.1,...,3.1,3.1,2.7,3.2,3.3,3.0,2.5,3.0,3.4,3.0
F3,1.4,1.4,1.3,1.5,1.4,1.7,1.4,1.5,1.4,1.5,...,5.6,5.1,5.1,5.9,5.7,5.2,5.0,5.2,5.4,5.1
F4,0.2,0.2,0.2,0.2,0.2,0.4,0.3,0.2,0.2,0.1,...,2.4,2.3,1.9,2.3,2.5,2.3,1.9,2.0,2.3,1.8
Target,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0

In [29]:
df.describe()

               F1          F2          F3          F4      Target
count  150.000000  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.057333    3.758000    1.199333    1.000000
std      0.828066    0.435866    1.765298    0.762238    0.819232
min      4.300000    2.000000    1.000000    0.100000    0.000000
25%      5.100000    2.800000    1.600000    0.300000    0.000000
50%      5.800000    3.000000    4.350000    1.300000    1.000000
75%      6.400000    3.300000    5.100000    1.800000    2.000000
max      7.900000    4.400000    6.900000    2.500000    2.000000

In [30]:
print(df.head())
df.values[0:4,0:3]

    F1   F2   F3   F4  Target
0  5.1  3.5  1.4  0.2       0
1  4.9  3.0  1.4  0.2       0
2  4.7  3.2  1.3  0.2       0
3  4.6  3.1  1.5  0.2       0
4  5.0  3.6  1.4  0.2       0

array([[5.1, 3.5, 1.4],
       [4.9, 3. , 1.4],
       [4.7, 3.2, 1.3],
       [4.6, 3.1, 1.5]])

In [49]:
s = pd.Series([145,142,38,13], [index={'sagar','sahil','safal'}])
print(s)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2805680734.py, line 1)

In [53]:
data=[33,45,14,52,25]
year=[2002,2001,2004,2002,2008]
s=pd.Series(index=year,data=data)
s

2002    33
2001    45
2004    14
2002    52
2008    25
dtype: int64

In [52]:
s[2002]

2002    33
2002    52
dtype: int64

### Membership operator

In [56]:
2002 in s

True

In [58]:
s[2008]=100
print(s)

2002     33
2001     45
2004     14
2002     52
2008    100
dtype: int64